In [1]:
print("Hello")

Hello

In [2]:
type(print)

builtin_function_or_method

In [3]:
def hi(a):
    print("Hello",a)

In [4]:
hi("Python")

Hello Python

In [5]:
def Math(a=2,b=4):
    x=a+b
    y=a*b
    print("Addition =",x)
    print("Multiplication =",y)

In [6]:
Math(5,10)

Addition = 15
Multiplication = 50

In [7]:
Math(20,25)

Addition = 45
Multiplication = 500

In [8]:
Math()

Addition = 6
Multiplication = 8

In [9]:
def abc(a="India"):
    print("I love",a)

In [10]:
abc("Python")

I love Python

In [11]:
abc()

I love India

In [12]:
def x():
    print("Hello")

In [13]:
x()

Hello

In [15]:
def FT(*n):
    print(n)

In [16]:
FT(2,5,6,7,8,10,1,2,5,6,"Hello")

(2, 5, 6, 7, 8, 10, 1, 2, 5, 6, 'Hello')

In [17]:
def mul(*numbers):
    a=1
    for i in numbers:
        a=a*i
    print(a)

In [18]:
mul(3,5,7)

105

In [19]:
def func1():
      print("Hello from a first function")

In [20]:
func1()

Hello from a first function

In [21]:
func1

In [22]:
def temp(a,b):
    z=a*b+a+b
    print(z)

In [23]:
temp(5,2)

17

In [24]:
def mul(a,b):
    print(a*b)

In [25]:
mul(2,3)

6

In [26]:
func1()

Hello from a first function

In [27]:
def added(a,b):
    print(a + b)

In [30]:
added(2,3)

5

In [31]:
def mu(a=5,b=10):
    print(a*b)

In [32]:
mu(4,3)

12

In [35]:
mu(4)

40

In [36]:
mu()

50

In [37]:
def greeting(name):
    return name

In [38]:
greeting("Eshika")

'Eshika'

In [39]:
def splitter(name):
    for i in name:
        print(i)

In [40]:
splitter("Eshika")

E
s
h
i
k
a

In [41]:
def multiple(*numbers):
    print(numbers)

In [42]:
multiple(5,6,7,20,1,2)

(5, 6, 7, 20, 1, 2)

In [43]:
def multiple(*n):
    ans=1
    for i in n:
        ans=ans*i
    print(ans)

In [44]:
multiple(2,3,4)

24

In [45]:
multiple(1,5,10,20,2)

2000

In [47]:
def default(country = "India"):
      print("I am from " + country)

In [48]:
default()

I am from India

# Return value

In [50]:
def return_square(x):
      return x * x

In [51]:
return_square(4)

16

In [52]:
def return_specific(x):
    a = x
    b = x * x 
    c = x * x * x
    d = a + b + c 
    return d,a,b,c

In [53]:
return_specific(5)

(155, 5, 25, 125)

In [54]:
def blankfunction():

IndentationError: expected an indented block (Temp/ipykernel_12652/3744687116.py, line 1)

In [55]:
def blankfunction():
      pass

In [56]:
blankfunction()

### Factorial
5! = 5 * 4 * 3 * 2 * 1 = 120

In [61]:
def fact1(a):
    fact= 1
    for i in range(1,a+1):
        fact = fact * i
    return fact

In [63]:
fact1(5)

120

1 </br>
1 * 2 = 2 </br>
2 * 3 = 6 </br>
6 * 4 = 24 </br>
24 * 5 = 120 </br>

# Recursive function

In [65]:
def fact(x):
    x = int(x)
    
    if x < 1:
        return 1
    else:
        return x * fact(x-1)

In [66]:
fact(5)

120

5 * fact(4) </br>
5 * 4 * fact(3) </br>
5 * 4 * 3 * fact(2) </br>
5 * 4 * 3 * 2 * 1 = 120

In [67]:
fact(5)

120

In [68]:
5 * fact(4)

120

In [69]:
5 * 4 * fact(3)

120

In [70]:
5 * 4 * 3 * fact(2)
5 * 4 * 3 * 2 * fact(1)
5 * 4 * 3 * 2 * 1

120

In [71]:
fact(5)

120

# Lamda Functions

In [73]:
x = lambda a : a + 10

In [74]:
x(5)

15

In [77]:
x = lambda a, b : a * b

In [78]:
x(5,6)

30